node_modules/
client/node_modules/
server/node_modules/
.env
client/.env
server/.env
server/uploads/
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/
coverage/
.idea/
.vscode/
*.log
*.sublime-workspace
